<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
	<center><img src="./images/pmgca_logo.png"></center>
    <center><i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/GrJVXiwqAtp2sw4Y9" target="_blank">&nbspUFV&nbsp|&nbspVicosa&nbsp|&nbspBrazil&nbsp</a></center>
    <br>
	<center></center>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url | absolute_url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}  
  </nav>

  <div class="sidebar-item">
    Currently v.{{ site.version }}
	<br>
	<div style="display:inline-block;width:200px;"><script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=5n3f8fhrtow&amp;m=0c&amp;c=ff0000&amp;cr1=ffc000&amp;sx=0&amp;ds=10&amp;cw=ffffff&amp;cb=919191" async="async"></script></div>
	<br>
	&copy; {{ site.time | date: '%Y' }}. All rights reserved.
  </div>
</div>
